<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Voice Chat Rooms</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Voice Chat Rooms</h1>
    <button onclick="createRoom()">Create Room</button>
    <input type="text" id="roomCodeInput" placeholder="Enter room code" />
    <button onclick="joinRoom()">Join Room</button>
    <div id="roomCodeDisplay"></div>
    <div id="audioContainer"></div>
    <!-- Socket.IO library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
